body {
	
background:url(https://i.imgur.com/RvzYhT0l.jpg)repeat;
    -webkit-animation: loader 30s steps(100) infinite;
    -moz-animation: loader 30s steps(100)infinite;
    -ms-animation: loader 30s steps(100)infinite;
    -o-animation: loader 30s steps(100)infinite;
    animation: loader 30s steps(100)infinite;
}
@-webkit-keyframes loader {
  from {
    background-position: 0;
  }
  to {
    background-position: -1600px 0;
  }
}
@-moz-keyframes loader {
  from {
    background-position: 0;
  }
  to {
    background-position: -1600px 0;
  }
}
@-ms-keyframes loader {
  from {
    background-position: 0;
  }
  to {
    background-position: -1600px 0;
  }
}
@-o-keyframes loader {
  from {
    background-position: 0;
  }
  to {
    background-position: -1600px 0;
  }
}
@keyframes loader {
  from {
    background-position: 0;
  }
  to {
    background-position: -1600px 0;
  }
}
#pic{
	position: absolute;
top: 65% ;}

#obs1{
	position: absolute;
	left: 80%;
}

#gameOver{
	background-color:black;
	color:#1aff1a;
	position: absolute;
	top:0;
	bottom:0;
	left: 0;
	right:0;
	font-family:"Arial Black", Gadget, sans-serif;
	visibility: hidden;
}
#gameWon{
	background-color:#e6b800;
	position: absolute;
	top:0;
	bottom:0;
	left: 0;
	right:0;
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:150%;
	visibility: hidden;
}
#levelFacts1{
	background-color:#0066ff;
	position:absolute;
	top: 2%;
	bottom:2%;
	left: 2%;
	right:2%;
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:150%;
}

#levelFacts2{
	background-color:#0066ff;
	position:absolute;
	top: 2%;
	bottom:2%;
	left: 2%;
	right:2%;
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:150%;
	visibility:hidden;
}
#levelFacts3{
	background-color:#0066ff;
	position:absolute;
	top: 2%;
	bottom:2%;
	left: 2%;
	right:2%;
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:150%;
	visibility:hidden;
}
#levelFacts4{
	background-color:#0066ff;
	position:absolute;
	top: 2%;
	bottom:2%;
	left: 2%;
	right:2%;
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:150%;
	visibility:hidden;
}
#levelFacts5{
	background-color:#0066ff;
	position:absolute;
	top: 2%;
	bottom:2%;
	left: 2%;
	right:2%;
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:150%;
	visibility:hidden;
}
#cont{
	position:absolute;
	top:90%;
	right:2%;
}