<div class="page-content">
		<h2 class="about-subtitle">
			What is ACM-W?
		</h2>
		
		<p class="page-text">
		<img class="about-image" src="images/acmlogo.png" alt="ACM-W Picture">
	 
	  
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. 
		Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem 
		at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce 
		nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu 
		eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia 
		nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. 

		Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean 
		quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique
		sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis
		vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia 
		aliquet. Mauris ipsum. Nulla metus metus, ullamcorper vel, tincidunt sed, 
		euismod in, nibh. Quisque volutpat condimentum velit. 

		<img class="about-image2" src="images/IMG-5001.JPG" alt="ACM-W Table">

		 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. 
		Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem 
		at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce 
		nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu 
		eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia 
		nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. 
		
		
		
		Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean 
		quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique
		sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis
		vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia 
		aliquet. Mauris ipsum. Nulla metus metus, ullamcorper vel, tincidunt sed, 
		euismod in, nibh. Quisque volutpat condimentum velit. 
		<img class="about-image3" src="images/FullSizeR.jpg" alt="ACM-W Sign">
	  </p>
	  <p>
	  
		<a href="https://women.acm.org/">International ACM-W Webpage</a>
	  </p>
	  <h2 class="about-subtitle">
		What is our chapter about?
		
	  </h2>
	  <p> Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean 
		quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique
		sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis
		vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia 
		aliquet. Mauris ipsum. Nulla metus metus, ullamcorper vel, tincidunt sed, 
		euismod in, nibh. Quisque volutpat condimentum velit. </p>
	  <h2 class="about-subtitle">
		Our Mission Statement:
		
	  </h2>
	  
	</div>
