<div class="words-of-blog">
  <p class="blog-title">{{title}}</p>
  <div class="image-of-blog">
    <img class="blog-image" src={{imgpath}}>
  </div>
  <p class="blog-content">{{content}}</p>
</div>
