      <div class="all-comment-stuff">
        <div class="blog-comments">
          <div class="comment">
            <p class="comment-author">{{author}}</p>
            <p class="comment-content">{{text}}</p>
          </div>
        </div>
