<div class="work-with-block">
  <p class="colab-with">Partnerships: Who We Collaborate With</p>
</div>
<div class="company-block">
  <div class="company-words">
    <h2 class="company-name">Boys & Girls Club of Corvallis</h2>
    <p class="company-blurb">
      The Boys & Girls Club of America is a non-profit whose goal is to reach
     all young people. Our club works with the club locally in Corvallis. We
      want to help teach children about Computer Science and Technology.
    </p>
    <h4 class="learn-more">Want to learn more? Visit:</h4>
      <p class="company-website">
        <a href="http://www.bgccorvallis.org/" target="_blank">www.bgccorvallis.org</a>
      </p>
  </div>
  <div class="img-block">
    <img src="images/boys_and_girls.jpg">
  </div>
</div>
