body{
  background-color: #fbfbfb;
  margin: 0px;
}

.all-block{
  display: block;
}
/*font-family: 'Cookie', cursive;
font-family: 'Pontano Sans', sans-serif;*/
.blog-title{
  font-size: 40px;
  font-family: 'Cookie', cursive;
  margin: 30px;
}

.blog-content{
  font-family: 'Pontano Sans', sans-sans-serif;
  font-size: 20px;
  margin: 10px;
}

.blog-comments{
  background-color: #f2f2f2;
}
.comment{
  font-family: 'Pontano Sans', sans-sans-serif;
  background-color: #fbfbfb;
  margin-right: 300px;
  margin-left: 300px;
  border-style: solid;
  border-width: thin;
}

.comment-author{
  font-weight: bold;
  margin-left: 5px;
}

.comment-content{
  margin-left: 5px;
}

.hidden{
  display: none;
}

#create-comment-button{
  margin: 5px;
  border: none;
  height: 50px;
  width: 50px;
  font-size: 30px;
  background-color: #ba55d3;
  color: #FFF;
  cursor: pointer;
  border-radius: 30px;
}
