body{
  margin: 0px;
  background-color: #fbfbfb;
}
/*font-family: 'Cookie', cursive;
font-family: 'Pontano Sans', sans-serif;
font-family: 'Cantarell', sans-serif;*/

.company-name{
  font-family: 'Cantarell', sans-serif;
  font-size: 40px;
  margin: 0px;
}
.company-blurb{
  font-family: 'Pontano Sans', sans-serif;
  font-size: 20px;
  margin: 0px;
}

.learn-more{
  font-family: 'Cantarell', sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin:0px;
}

.company-website{
  font-family: 'Pontano Sans', sans-serif;
  font-size: 20px;
  margin:0px;
}

.company-website a{
  color: #86324a
}

.colab-with{
  margin: 20px;
}

.work-with{
  margin: 20px;
}

.work-with-block{
  font-family: 'Cookie', cursive;
  font-size: 45px;
  margin-top: 10px;
}
.company-block{
  height: 450px;
  width: 600px;
  display: inline-block;
  vertical-align: top;
  margin: 40px;
}

.img-block{
  position: relative;
  top: 25px;
  left: 275px;
  width: 200px;
}

.img-block img{
  width: 100%;
  height: auto;
  border-radius: 20px;
}
