<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>ACM-W</title>
   		<link rel="stylesheet" href="style.css" media="screen">
		<script src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" defer> </script>
		<link href="https://fonts.googleapis.com/css?family=Cookie|Pontano+Sans|Cantarell:400i" rel="stylesheet">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.runtime.js"></script>
		<script src="/blogcommentsContentTemplate.js"></script>
		<script src="/index.js"></script>
	</head>

	<body>
		<div id = "container">
			<div id="header">
				<img class="ACMImage" src="ACMW.png"></img>
     	 			<nav class="navbar">
        			<ul class="navlist">
         	 			<li class="navitem navlink home active"><a href="/">Home</a></li>
         	 			<li class="navitem navlink joinUS"><a href="joinus">Join Us</a></li>
         	 			<li class="navitem navlink partner"><a href="partnerships">Partnerships</a></li>
         	 			<li class="navitem navlink blog"><a href="blog">Blog</a></li>
         	 			<li class="navitem navlink about"><a href="aboutus">About Us</a></li>
         	 			<li class="navitem navlink officers"><a href="officers">Our Officers</a></li>
       		 			</ul>
     	 				</nav>
    			</div>
    			<div id="body">
				{{{body}}}
    			</div>
    			<div id="footer">
        			<ul class="smlist">
		   			<li class="smitem smlink"><a href="https://www.facebook.com/osu.acmw/"><button type="button"><i class = "fab fa-facebook"></i></button> Like our Facebook page</a></li>
		   			<li class="smitem smlink"><a href="https://www.instagram.com/osu.acmw/"><button type="button"><i class = "fab fa-instagram"></i></button> Follow our Instagram</a></li>
		   			<li class="smitem smlink"><a href="womenincs@oregonstate.edu"><button type = "button"><i class="far fa-envelope"></i></button> Join our mailing list</a></li>

    			</div>
    		</div>
	</body>
