
<main class="about-container">
  <h1 class="site-title2"><img src = "images/acmw2.png" alt= "ACM-W"></h1>
  <h1 class= "site-title3"> About Us </h1>
  
  <article class="information">
	{{>aboutusContent}}
  </article>
  
  
  
</main>
