<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		
		<link rel="stylesheet" href="/style.css">
	</head>
	<body>
	<header>
		<h1 class= "site-title"> About Us </h1>
	</header>
	
	
	<a href="#"><h1 class="site-title"> ACM-W</h1></a>
      <nav class="navbar">
        <ul class="navlist">
          <li class="navitem navlink active"><a href="#">Home</a></li>
          <li class="navitem navlink"><a href="#">Trending</a></li>
          <li class="navitem navlink"><a href="#">People</a></li>
          <li class="navitem navbar-search">
            <input type="text" id="navbar-search-input" placeholder="Search...">
            <button type="button" id="navbar-search-button"><i class="fas fa-search"></i></button>
          </li>
        </ul>
      </nav>
	  <main class="officer-container">
	</main>
	</body>
