<main class="company-container">
  <div class="work-with-block">
    <p class="colab-with">Partnerships: Who We Collaborate With</p>
  </div>
  {{#each company}}
    {{>collabContent this}}
  {{/each}}

</main>
