<img class="HomeImage" src="HomePic.png"> </img>
<p class="company-blurb"> Welcome the website for Association for Computing Machinery-Women's Chapter at Oregon State University. Explore our site to see when we meet and what we do. Feel free to come join us in our mission to increase retention of women in CS and other tech fields. Anyone is welcome to come so bring your friends to partake in our free food and fun tech events!</p>
