  <main class="join-container">

    <div class="join">
      <p>Join Us!</p>
    </div>

    <div class="w-container">
      <h2 class="w">When We Meet</h2>
      <p class="w-blurb">
        ACM-W meets the 2nd, 4th, 6th, 8th, and 10th week of every term. Club
        meetings run from 5:30 pm - 6:30 pm PDT.
      </p>
    </div>

    <div class="w-container">
      <h2 class="w">Where We Meet</h2>
      <p class="w-blurb">
        ACM-W meets in Kelley Engineering Building in room 1005 at Oregon State University.
      </p>
    </div>

    <div class="offical">
      <h2 class="w">How to Become an Official Member</h2>
      <p class="w-blurb">
        Our meetings are free an open to the public, but we encourage you to become a
        member of our club. To become a member fill out this link here:
      </p>
      <p class="membership-link">
      <a href="https://goo.gl/forms/8DZnOtB4B78TRoiT2" target="_blank">Membership Link</a>
      </p>
      <p class="w-blurb">
        You must attend 2 meetings a term to be considered an active member.
      </p>
    </main>
