
<main class="officer-container">
	<div class="page-content">
	<h2 class="officers-subtitle">
		ACM-W Founding Officers
	</h2>
		{{#each content}}
			{{>officersContent this}}
		{{/each}}
	</div>
</main>
