
body{
	background-color:#fafafa;
  margin: 0px;
}
a{
	text-decoration: none;
	color:#000000;
}
.navbar {
  background-color: #fff;
  font-size: 18px;
  line-height: 22px;
  height:30px;
  border-top:2px solid black;
  border-bottom:2px solid black;
}

.navlist {
  margin: 0 0 10px 10px;
  padding: 0;
}

.navitem {
  display: inline-block;
  margin: 5px;
}

.navlink.active{
	box-shadow: inset 0 -3px #a0566e;
}

.ACMImage{
	height:125px;
	width: 250px;
}
footer{
	position: static;
	bottom:0;
	right:0;
	left:0;
	background-color:#2b2e33;
	width:100%;
	margin:none;
}

.smitem {
  display: block;
  margin: 5px;
	margin-bottom: 0px;
	margin-top: 5px;
	padding-top: 5px;
}

.smlist{
	margin:0px;
}

.HomeImage{
	width: 600px;
	height: 400px;
	position: absolute;
	margin-left: 500px;
}

.home-blurb{
	font-family: 'Pontano Sans', sans-serif;
	position: absolute;
	margin-top: 320px;
	text-align: center;
	margin-left: 200px;
	margin-right: 200px;
	font-size: 20px;
}
/*404 page*/
.block404{
	font-family: 'Cookie', cursive;
	margin-top: 50px;
	text-align: center;
	font-size: 50px;
}
/*Kaitlin CSS*/
/*workstyle.css*/
.company-name{
  font-family: 'Cantarell', sans-serif;
  font-size: 40px;
  margin: 0px;
}
.company-blurb{
  font-family: 'Pontano Sans', sans-serif;
  font-size: 20px;
  margin: 0px;
}

.learn-more{
  font-family: 'Cantarell', sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin:0px;
}

.company-website{
  font-family: 'Pontano Sans', sans-serif;
  font-size: 20px;
  margin:0px;
}

.company-website a{
  color: #86324a
}

.colab-with{
  margin: 20px;
}

.work-with{
  margin: 20px;
}

.work-with-block{
  font-family: 'Cookie', cursive;
  font-size: 80px;
  margin-top: 10px;
  weight: lighter;
}
.company-block{
  height: 450px;
  width: 600px;
  display: inline-block;
  vertical-align: top;
  margin: 40px;
}

.img-block{
  position: relative;
  top: 25px;
  left: 275px;
  width: 200px;
}

.img-block img{
  width: 100%;
  height: auto;
  border-radius: 20px;
}

/*joinstyle.css*/

/*font-family: 'Cookie', cursive;
font-family: 'Pontano Sans', sans-serif;*/
.join{
  margin-left: 40%;
  font-family: 'Cookie', cursive;
  font-size: 50px;
}

.w{
  font-family: 'Pontano Sans', sans-serif;
  margin-left: 30%;
}

.w-blurb{
  font-family: 'Pontano Sans', sans-serif;
  margin-left: 33%;
  margin-right: 33%;
}

.membership-link a{
  font-family: 'Pontano Sans', sans-serif;
  color: #86324a;
  margin-left: 33%
}

/*blog.css*/


.all-block{
  display: block;
}

.blog-title{
  font-size: 40px;
  font-family: 'Cookie', cursive;
  margin: 30px;
}

.blog-content{
  font-family: 'Pontano Sans', sans-sans-serif;
  font-size: 20px;
  margin: 10px;
}

.blog-comments{
  background-color: #f2f2f2;
}
.comment{
  font-family: 'Pontano Sans', sans-sans-serif;
  background-color: #fbfbfb;
  margin-right: 300px;
  margin-left: 300px;
  border-style: solid;
  border-width: thin;
}

.comment-author{
  font-weight: bold;
  margin-left: 5px;
}

.comment-content{
  margin-left: 5px;
}

#create-comment-button{
  margin: 5px;
  border: none;
  height: 50px;
  width: 50px;
  font-size: 30px;
  background-color: #ba55d3;
  color: #FFF;
  cursor: pointer;
  border-radius: 30px;
  margin-left: 950px;
}

.modal-body {
  padding: 0px;
}

.comment-input-element {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.comment-input-element label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
  font-family: 'Pontano Sans', sans-sans-serif
}

.comment-input-element{
  width: 700px;
  margin-left: 300px;
}
.comment-input-element input,
.comment-input-element textarea {
  flex: 6 200px;
  font-size: 20px;
  border: 1px solid #aaa;
  width: 100px;
}

.comment-text-element textarea {
  min-height: 64px;
  margin-left: 300px;
  margin-right: 300px;
  padding: 0px;
}
